*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: 'Outfit', sans-serif;
}
nav{
    margin-top: 17px;
    
}
.list {
    
    display: flex;
}
.list-it{

    
    margin-top: 20px;
}

.list-it a{
  font-weight: 400;
font-size: 15px;
text-decoration: none;
color: #222222;
margin-left: 20px;
align-items: center;

}
.btnprimary{
    
    
    font-weight: 400;
    font-size: 13px;
    padding: 10px 16px;
    text-align: center;
    letter-spacing: 0.48px;
    color: #FFFFFF;
    background: #2F2F2F;
    border-radius: 20px;
    margin-left: 50px;

}

.fa-brands{
    margin-left: 15px;
}
.flexdiv{
    display: flex;
    align-items: center;
    
}
.ex{
    padding-top: 250px;
/* text-align: center;  */
font-weight: 400;
font-size: 13px;
letter-spacing: 0.48px;
color: #82CBAC;
}
.change{
    
font-weight: 400;
font-size: 64px;
line-height: 64px;
letter-spacing: 0.48px;
color: #2F2F2F;
}
.suspe{
    padding-top: 25px;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #2F2F2F;
    }
    
    .images{
        margin-top: 110px;
        position: relative;
    }
    .boy{
        position: absolute;
        top: -50px;
        left: -150px;
    }
    .girl{
        position: absolute;
        top: 100px;
        
    }
    .rasmlar{
        padding-top: 350px;
        text-align: center;
        position: relative;
    }
    .qator10{
        position: absolute;
        left: 0px;
    }
    .qator{
        position: absolute;
        left: 10px;
       
    }
    .qator1{
        position: absolute;
        left: 103px;
        left: 152px;
       
    }
    .qator2{
        position: absolute;
        left: 304px;
       
    }
    .qator3{
        position: absolute;
        left: 456px;
       
    }
    .qator4{
        position: absolute;
        left: 608px;
       
    }
    .qator5{
        position: absolute;
        left: 760px;
       
    }
    .qator6{
        position: absolute;
        left: 912px;
       
    }
    .qator7{
        position: absolute;
        left: 1064px;
       
    }
    .qator8{
        position: absolute;
        left: 1216px;
       
    }
    .qator9{
        position: absolute;
        left: 1368px;
       
    }
    .soz{
        padding-top: 300px;
    }
    .hey{
        font-weight: 400;
        font-size: 64px;
        text-align: center;
        color: #2F2F2F;
}
    .pero{
       
font-weight: 400;
font-size: 17px;
line-height: 26px;
text-align: center;
color: #2F2F2F;
margin-bottom: 83px;
    }
    /* -----------------------------------------------end-------------------------------------- */
    .jack{
        background: #2F2F2F;
        border: 1px solid #2F2F2F;
        border-radius: 30px;
        font-weight: 400;
        font-size: 22px;
        text-align: center;
        color: #FFFFFF;
        padding: 11px 65px 17px 66px;
        }
.suni{
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    color: #2F2F2F;
    padding: 11px 65px 17px 66px;
    border: 1px solid #2F2F2F;
    border-radius: 30px;
    background: white;
    margin-left: 8px;
}
.child{
    padding-top: 64px;
    padding-bottom: 146px;
}
.digital{
  
font-weight: 400;
font-size: 16px;
color: #FF7F96;
padding-top: 111px;
}
.pellente{
 
font-weight: 400;
font-size: 36px;
line-height: 36px;
letter-spacing: 0.48px;
color: #2F2F2F;
}
.suspendi{
 
font-weight: 400;
font-size: 20px;
line-height: 26px;
letter-spacing: 0.48px;
color: #2F2F2F;
}
.our{
  
font-weight: 400;
font-size: 35px;
text-transform: uppercase;
color: #2F2F2F;
padding-top: 60px;
}
.um{
  
font-weight: 400;
font-size: 48px;
line-height: 48px;
color: #2F2F2F;
}
.nulla{
  
font-weight: 400;
font-size: 18px;
line-height: 26px;
color: #2F2F2F;
padding-top: 38px;
padding-bottom: 32px;
}
.codx{
    margin-left: 449px;
background: #2F2F2F;
border-radius: 0px;
font-weight: 700;
font-size: 15px;
text-align: center;
color: #FFFFFF;
padding: 12px 40px;

}
.photos{
    padding-top: 148px;
    margin-left: 100px;
}
.motion{
 
font-weight: 700;
font-size: 35px;
color: #2F2F2F;

}
.motio{
    font-weight: 700;
font-size: 35px;
color: #2F2F2F;

}
.suspem{

font-weight: 400;
font-size: 18px;
line-height: 26px;
color: #2F2F2F;
padding-bottom: 32px;
}
.nig{
    padding-top: 63px;
    padding-bottom: 141px;
}
/* ----------------------------------------end------------------------------ */
.boygirl{
    padding-bottom: 100px;
   }
.browse{
    font-weight: 400;
    font-size: 64px;
    text-align: center;
    color: #2F2F2F;
    padding-bottom: 73px;
   
}
.colleb{
    padding-top: 29px;
    font-weight: 700;
    font-size: 26px;
    color: #2F2F2F;
    padding-bottom: 101px;
  }
.verb{
  
font-weight: 700;
font-size: 14px;
/* text-align: center; */
color: #FFFFFF;
background: #2F2F2F;
border-radius: 0px;
padding: 12px 40px;
margin-left: 550px;

}
.top{
    padding-top: 95px;
    
font-weight: 400;
font-size: 64px;
text-align: center;
color: #2F2F2F;
}
.bear2{
    padding-top: 42px;
}
.faq{
    font-weight: 400;
    font-size: 64px;
    text-align: center;
    color: #2F2F2F;
    padding-top: 55px;
    }
    .fire{
        margin-left: 150px;
        
    }
 .donec{
    margin-top: 77px;
     font-weight: 400;
     font-size: 22px;
     line-height: 24px;
     color: #2F2F2F;
      }
      .fast{
          margin-top: 65px;
          color:yellowgreen ;
          font-size: 30px;
        }
        /* .codex{
            padding-top: 229px;
    } */
    .intex{
        padding-top: 30px;
        /* padding-bottom: 20px; */
    }
    .sign{
        padding: 12px 32px;
        width: 45%;
        background: #F6F6F6;
        border-radius: 20px;
       border: none;
       font-weight: 400;
       font-size: 14px;
       color: rgba(47, 47, 47, 0.36);
       }
    
    .yourre{
        padding: 5px 10px;
        background: #2F2F2F;
        border-radius: 20px;
        /* font-weight: 700; */
        font-size: 14px;
        color: #FFFFFF;
        border: none;
    }
.codex{
    margin-top: 22px;
    margin-bottom: 20px;

}
